/*@font-face{
	font-family:"DroidSans";
	src:url("..fonts/DroidSans.ttf")format("ttf");
	vvvvvvvvsrc:url("..fonts/DroidSans.eot")format("eot");
}
*/
@font-face {
	font-family: DroidSans;
	src: url('../fonts/DroidSans-webfont.eot?') format("eot"),url('../fonts/DroidSans-webfont.woff') format("woff"),url('../fonts/DroidSans-webfont.ttf') format("truetype"),url('../fonts/DroidSans-webfont.svg#OpenSans-Light') format("svg");
}
@font-face {
	font-family: DroidSansBold;
	src: url('../fonts/DroidSans-Bold-webfont.eot?') format("eot"),url('../fonts/DroidSans-Bold-webfont.woff') format("woff"),url('../fonts/DroidSans-Bold-webfont.ttf') format("truetype"),url('../fonts/DroidSans-Bold-webfont.svg#OpenSans-Semibold') format("svg");
}
.page-header {
	color: #007ABC;
	margin: auto;
	width: 100%;
	margin-top: 40px;
	font-family: "Open Sans",serif;
	text-align: center;
	font-size: 30px;
	padding-top: 20px;
}
/***********************************************************/
#main .form-group {
	padding-right: 10px;
}
#main.widget-opendata #pagination {
	width : 100%;
	text-align: center;
}
#main.widget-opendata #pagination .pagination {
	margin-top: 20px;
	margin-bottom: 20px;
	width: auto;
}
#main.widget-opendata .hide {
	display : none;
}
#main.widget-opendata .dataset .dataset-private {
	margin-top: 28px;
	margin-right: 0;
	margin-bottom: -20px;
	background: #0F52FF;
	padding: 2px 8px;
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 130%;
	border-radius: 4px;
	color: #FFFFFF;
	text-transform: uppercase;
}
#main.widget-opendata .dataset .inner .data-desc {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 13px !important;
	line-height: 150%;
	color: #777A7D !important;
	padding-top: 8px;
}
#main.widget-opendata .dataset p
{
	color: grey;
}

#main.widget-opendata .dataset .inner
{
	padding-top: 5px;
	padding-bottom: 5px;
}
#main.widget-opendata .dataset .portail-theme {
	display: none;
}
#main.widget-opendata .dataset ul
{
	padding-left: 0px;
    margin: 0;
}
#main.widget-opendata .dataset ul:not(:last-child) {
	margin-bottom: 0;
}
#main.widget-opendata ul {
	list-style: none;
	font-size : 13px;
}
#main.widget-opendata .dataset li {
	display: inline-block;
}
#main.widget-opendata .infos
{
	font-size: 14px;
}
#main.widget-opendata .titre
{
	color: black;
	font-weight: bold;
}
#main.widget-opendata .info
{
	float: right;
	margin-right: 3%;
}
#main.widget-opendata .jetons li,
.badge {
	background-color: #cc3399 ;
    color: white;
    border: solid 1px #cc3399 ;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

/**************** widget *************/
#main.widget-opendata #tags li{
	background-color: rgba(35,135,171,0.7);
	color: white;
	border: solid 1px rgba(35,135,171,0.7);
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	font-size: 12px;
	margin-right: 5px;
	margin-bottom: 5px;
}
#main.widget-opendata #tags .clicked{
	border: solid 1px rgba(35,135,171,1);
	background-color: rgba(35,135,171,1);
}
#main.widget-opendata .tag:hover{
	cursor: pointer;
}
#main.widget-opendata .tag{
	white-space: nowrap;
	display: inline-block;
}
#main.widget-opendata #jeuxDeDonnes{
	background-color: rgb(35,135,171);
	color: white;
	margin-top: 0px;
	padding: 5px 5px 5px 5px;
}
/************ widget ***************/
#main.widget-opendata .format{
	background-color: black;
	border-radius: 5px;
	padding: 2px 4px;
	margin-right: 5px;
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	line-height: 14px;
	color: rgb(255, 255, 255);
	vertical-align: baseline;
	white-space: nowrap;
	text-shadow: rgba(0, 0, 0, 0.25) 0px -1px 0px;
}
#main.widget-opendata #filter .jetons{
	padding-left: 0px;
	margin-top: 10px;
}
#main.widget-opendata filter .jetons li{
	display: inline;
}
#main.widget-opendata #filter {
	padding-bottom: 15px;
	padding-left: 25px !important;
	padding-right: 0px;
	margin-bottom: 2%;
	border-radius: 3px;
	padding-left: 10px;
	display: flex;
	flex-direction: column;
}
#main.widget-opendata #filter + div {
	padding-right: 25px;
	padding-left: 15px;
}
#main.widget-opendata #filter > .ng-scope.d4c-portail-map .d4cwidget-map, 
#main.widget-opendata #filter > .ng-scope.d4c-portail-map .d4cwidget-map__map {
    height: 238px !important;
    min-height: 100px !important;
}
#main.widget-opendata > #filter > .ng-scope.d4c-portail-map > d4c-dataset-context > div.row > div,
#main.widget-opendata > #filter > .ng-scope.d4c-portail-map > div.row > div {
	width: 100% !important;
	padding: 0 15px !important;
}
#main.widget-opendata #filter h1
{
	background-color: #007ABC;
	color: white;
	margin-top: 0px;
	padding: 5px 5px 5px 5px;
	border-radius : 3px;
	order: -3;
}
#main.widget-opendata #filter h1 + input + .form-group,
#main.widget-opendata #filter #actif-filters,
#main.widget-opendata #filter h2:nth-of-type(1),
#main.widget-opendata form {
	order: -1;
}
#main .form-control{
	font-size: 0.85em !important;
}
#main .input-group .form-control {
	height: unset;
}
#main.widget-opendata #filter h2 #reset-filters{
	color : white;
	float : right;
	font-size : 15px;
	position : absolute;
	bottom : 5px;
	right : 5px;
}
.navbar-default+div>div{
	margin-right: -15px !important;
	margin-left: -15px!important;
}
#main.widget-opendata #filter h2 #reset-filters:hover{
	cursor : pointer;
	color : #C39;
}
#main.widget-opendata #filter h2{
	color: white;
	background-color: #007ABC;
	padding: 5px 5px 5px 5px;
	border-radius : 3px;
	position : relative;
}
#main.widget-opendata h2 img{
	height: 8%;
	width: 8%;
	padding-bottom: 2px;
}
#main.widget-opendata form{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom : 10px;
}
#main.widget-opendata .list-group{
	overflow-y: auto;
	height: auto;
	max-height: 160px;
}
#main.widget-opendata #filter .list-group{
	margin-bottom : 0px;
}
#main.widget-opendata #filter .list-item {
	padding: 6px 10px;
	border-left: solid 2px #dcdcdc;
	font-size: 12px;
}
#main.widget-opendata #filter .list-item:hover{
	color : #007ABC;
	border-color : #007ABC;
	cursor : pointer;
}
#main.widget-opendata #filter .number_element{
	float : right;
}
#main.widget-opendata .download{
	float: right;
	display: block;
}
#main.widget-opendata #search input{
	font-size: 20px;
	border: 0;
	box-shadow: none;
	height: 60px;
	padding: 1rem 0.6rem;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	font-family: 'Roboto Condensed', sans-serif;
	box-sizing: border-box;
	color: #0a0a0a;
	background-color: #fefefe;
	line-height: normal;
}
#main.widget-opendata #search button{
	background: none;
	background-color: #23ab8b;
	border: none;
	height: 60px;
	width: 60px;
}
#main.widget-opendata #search .glyphicon{
	color: white;
	font-size: 20px;
}
#main.widget-opendata h1 {
	font-size: 26px;
}
#main.widget-opendata #filter h2 {
	font-size: 20px;
}
#main.widget-opendata #filter h3{
	font-size: 18px;
	color: #007ABC;
	margin-top: 10px;
}
#main.widget-opendata .format[data-format="json"],#main.widget-opendata .format[data-format*="json"] {
	background-color: rgb(239, 113, 0);
}
#main.widget-opendata format[data-format="html"],#main.widget-opendata .format[data-format*="html"] {
	background-color: rgb(85, 161, 206);
}
#main.widget-opendata format[data-format="xls"],#main.widget-opendata .format[data-format*="xls"] {
	background-color: rgb(45, 181, 93);
}
#main.widget-opendata format[data-format="csv"],#main.widget-opendata .format[data-format*="csv"] {
	background-color: rgb(223, 177, 0);
}
#main.widget-opendata format[data-format="wfs"] {
	background-color: rgb(122, 174, 61);
}
#main.widget-opendata format[data-format="geojson"] {
	background-color: rgb(152, 85, 224);
}
#main.widget-opendata format[data-format="xml"],#main.widget-opendata .format[data-format*="xml"] {
	background-color: rgb(50, 50, 50);
}
#main.widget-opendata format[data-format="shp"],#main.widget-opendata .format[data-format*="shp"] {
	background-color: rgb(216, 52, 23);
}
#main.widget-opendata .hidden-filter{
	visibility: hidden;
	height: 0;
	width: 0;
}
#main.widget-opendata .glyphicon-remove{
	cursor: pointer;
}
main.main--dataset {
	margin: 30px 0 100px !important;
}
.d4c-dataset-visualization__dataset-title {
	margin-left: 0 !important;
}
.d4c-app-explore-dataset {
	max-width: unset !important;
	padding-right: 15px !important;
	padding-left: 15px !important;
	margin-right: auto !important;
	margin-left: auto !important;
}
.d4c-app-explore-dataset .d4c-filters {
	background: transparent;
	box-shadow: none;
	padding: 0;
}
.d4c-app-explore-dataset .d4c-filters .closed {
	display: none;
}
.d4c-filters__count, 
.d4c-filters__export-catalog-title, 
.d4c-filters__filters, 
.d4c-filters__filters-summary,
.d4c-dataset-visualization__dataset-title .box_3 > button {
    font-size: 1.5rem;
    background-color: #007ABC;
    color: #FFF;
    border-radius: 3px;
    padding: 0.33rem 0.67rem;
    position: relative;
	border: 0 !important;
}
.d4c-dataset-visualization__dataset-title .box_3 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	row-gap: 8px;
}
.d4c-dataset-visualization__dataset-title .box_3 > button {
	font-size: .9rem;
	order: -2;
	margin-right: calc(17px + 1rem);
}
.d4c-dataset-visualization__dataset-title .box_3 > button + div {
	display: none !important;
}
.d4c-dataset-visualization__dataset-title .box_3 > span {
	order: -1;
	display: block;
}
.d4c-dataset-visualization__dataset-title .d4cwidget-social-buttons {
	margin-left: auto;
}
.d4c-dataset-visualization__dataset-title .d4cwidget-social-buttons .d4cwidget-social-buttons__button {
	color: #007ABC;
}
.d4cwidget-facet__category--refined, .d4cwidget-facet__category:hover {
    color: #007ABC;
    text-decoration: none;
    border-color: #007ABC;
    border-left-color: #007ABC;
}
.d4c-tabs__tab {
    display: inline-block;
    margin-left: 1rem;
    color: #C39;
}
.d4c-tabs__tab.d4c-tabs__tab--horizontal {
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1rem;
    width: auto;
}
.d4c-tabs__tab.d4c-tabs__tab--active, 
.d4c-tabs__tab.d4c-tabs__tab--active:hover {
    background-color: #FFF;
    color: #333;
    border-color: #282828 #282828 transparent #282828;
}
.d4c-tabs__tab.d4c-tabs__tab--horizontal:hover {
    background-color: #FFF;
    border-color: #282828;
}
.d4c-tabs__pane.d4c-tabs__pane--horizontal {
    background: #FFF;
    border-radius: 3px;
    border: solid 1px #282828;
    padding: 20px;
    margin-bottom: 20px;
    min-height: 200px;
    margin-bottom: 0;
    box-shadow: none;
}
div[class^="col-"] {
	padding: 0 15px !important;
}
.d4c-tabs__pane.d4c-tabs__pane--horizontal .card {
	margin-bottom: 25px;
}
.d4c-tabs__pane.d4c-tabs__pane--horizontal .card-body .h5.text-uppercase {
	font-weight: 600;
}
/* tab analyse css */
.d4c-chart-controls__details-container > summary::before {
	display: none;
}
.d4c-chart-controls__details-container > summary::after {
	content: "\f107";
	font-family: 'FontAwesome';
}
.d4c-chart-controls__details-container[open] > summary::after {
	transform: rotate(180deg);
}
.d4c-chart-controls__details-container > summary {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	margin: 0;
	border: 1px solid #eee;
}
.d4c-chart-controls__details-container[open] > summary {
	border-color: rgb(0,116,141);
	color: rgb(0,116,141);
}
.d4c-chart-controls__details-container > div {
	text-align: left;
	background: #f8f8f8;
	padding: 10px 10px 20px;
	border-radius: 0;
	border-left: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
}
.d4c-chart-controls__serie-handle {
	float: unset !important;
}
.d4c-color-chooser__color-selector {
	left: unset !important;
	right: 0 !important;
}
.records-analyze.ng-scope {
	display: flex;
	flex-direction: row;
}
.records-analyze.ng-scope > .d4c-advanced-chart-controls {
	width: 28%;
    min-width: 260px;
	max-height: 402px;
    overflow: auto;
	box-shadow: inset 1px 1px 0px 0px #eee, inset -1px -1px #eee;
}
.records-analyze.ng-scope > .d4c-chart {
	width: 72%;
	padding: 1rem;
}
.d4c-chart-controls__xaxis {
	display: flex;
    flex-direction: column;
	position: relative;
	padding-bottom: 20px;
}
.d4c-chart-controls__sort-choice {
	float: unset;
    align-self: flex-end;
    margin: 0;
    position: absolute;
}
.d4c-chart-controls__xaxis .group,
.d4c-chart-controls__yaxis .group {
	margin: 0;
	display: flex;
    flex-direction: column;
	font-weight: 700;
	width: 100%;
}
.d4c-chart-controls__yaxis .group {
	font-size: 15px;
}
.d4c-chart-controls__xaxis .group > label {
	display: flex;
    flex-direction: column;
	margin-bottom: 0;
}
.d4c-chart-controls__controls-group > label {
	display: flex;
    flex-direction: column;
}
.d4c-chart-controls {
	padding: 0;
	background-color: #fff;
}
.d4c-chart-controls__add-chart-button {
	float: unset;
	border: 0;
    background: transparent;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.d4c-chart-controls__serie-list .d4c-chart-controls__sort-choice {
	position: relative;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
	gap: 4px;
}
.d4c-chart-controls__serie-list .d4c-chart-controls__sort-choice > input,
.d4c-chart-controls__yaxis-controls {
	margin: 0;
}
.d4c-color-chooser, .d4c-color-chooser__preview, .d4c-color-chooser__current-color, .d4c-color-chooser__current-color-range {
	height: 100%;
}
.d4c-chart-controls__controls-group {
	margin: 0 !important;
}
.d4c-chart-controls__yaxis-controls .d4c-chart-controls__controls-group {
	width: 100%;
}
.d4c-chart-controls__serie-basic-controls {
	display: flex;
    flex-wrap: wrap;
    align-items: stretch;
	row-gap: 8px;
}
.d4c-chart-controls input, .d4c-chart-controls select, .d4c-chart-controls textarea {
	padding: 8px 12px;
}
.d4c-chart-controls__serie-basic-controls .d4c-chart-controls label {
	margin: 0;
}
.d4c-chart-controls__controls-group > select {
	height: 100%;
	width: 100%;
}
select.d4c-chart-controls__input {
	width: 100%;
}
.d4c-chart-controls__serie-container {
	background-color: transparent;
	border: 1px solid;
	padding: 4px 8px 8px;
}
.d4c-chart-controls__serie-container:not(:last-child) {
	margin-bottom: 8px;
}
.d4c-chart-controls__serie-container:last-child {
	margin-bottom: 0px;
}
div.d4c-chart-controls__controls-group {
	width: 100%;
}
@media screen and (max-width: 768px) {
	.d4c-search-filters.ng-hide,
	.d4c-actif-filters.ng-hide {
		display: block !important;
	}
	.d4c-filters-summary.ng-hide {
		display: block !important;
		margin: -20px -20px 20px -20px;
	}
	.d4c-filters-summary {
		margin: 20px -20px !important;
	}
	.d4c-filters.ng-hide.d4c-filters-open {
		display: block !important;
	}
	.d4c-filters.d4c-filters-open {
		background-color: #FFF;
	    padding: 10px 20px;
	    border-bottom: 1px solid #282828;
	    margin: -20px -20px 20px -20px;
	}
	.d4c-filters.d4c-filters-open .d4c-filters__count {
		display: none;
	}
	.d4c-filters.d4c-filters-open .d4c-filters__filters {
		display: block !important;
		margin-top: 0;
	}
}
@media screen and (min-width: 768px) {
	.d4c-app-explore-dataset .d4c-filters {
		display: inline-block !important;
		float: left;
		clear: both;
	}
	.d4c-actif-filters {
		margin-top: 20px;
	}
	.d4c-search-filters {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.d4c-search-filters,
	.d4c-actif-filters {
		position: static;
		float: left;
		clear: both;
	}
	.d4c-search-filters.ng-hide,
	.d4c-actif-filters.ng-hide {
		display: block !important;
	}
	.d4c-dataset-visualization__dataset-title .box_3 > button,
	.d4c-search-filters,
	.d4c-actif-filters {
		width: 280px;
	}
}


/* Details */
details {
    display: flex;
    overflow: hidden;
}
summary, details > div {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
}
summary, .summary {
    flex-direction: row;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 10px;
    line-height: 1.1;
}
details > div {
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}
details > div > a > img {
    max-width: 100%;
    height: auto;
    width: 40%;
    margin-bottom: .5rem;
	filter: invert(100%) sepia(0%) saturate(1166%) hue-rotate(347deg) brightness(117%) contrast(111%);
}
details > div > a {
	background: #007ABC;
	width: 8.895rem;
	height: 8.895rem;
	line-height: 1.1 !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	text-decoration: none !important;
	color: white !important;
}
details > div > a > span {
	font-size: .85rem;
	width: 80%;
	text-align: center;
}
summary::before {
    cursor: pointer;
    display: inline-flex;
    margin-right: 8px;
    content: '+';
	transition: all .5s ease-in-out;
}
details[open] summary::before {
	transform: rotate(45deg);
}
.d4cwidget-map__loading {
    position: absolute;
    left: 50%;
    margin-left: 0 !important;
    top: 50%;
    transform: translate(-50%);
    bottom: unset !important;
    background: transparent !important;
    padding: 0 !important;
    font-size: 5rem !important;
    line-height: 5rem !important;
    height: 5rem !important;
    width: 5rem !important;
    margin-top: -0.5em;
    overflow: hidden;
}